html {
  font-family: "Montserrat", sans-serif;
}

.BundleCard {
  border: 1px solid #7c9bc2;
  width: 90vw;
  max-width: 470px;
  box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.05),
    -3px 2px 10px 1px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.BundleCard__Header {
  letter-spacing: 1.5px;
  background-color: $off-white;
  margin: 0;
  padding: 0.8em 0 0.8em 0.8em;
  font-size: 14px;
  font-weight: 900;
}

.BundleCard__included {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 29px;
  margin-bottom: 15px;
}

.BundleCard__Internet,
.BundleCard__Tv {
  border-right: 1px solid $off-white;
  width: 100%;
}

.BundleCard__Internet,
.BundleCard__Tv,
.BundleCard__Voice {
  height: 80px;
}

.BundleCard__image {
  margin: 0 auto;
  display: block;
}

.Internet__Speed,
.Tv__Channels,
.Voice__Option {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 0.1em;
  margin-top: 10px;
  font-weight: 700;
}

.Internet__Units,
.Tv__Units,
.Voice__Units {
  font-size: 0.75em;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

// color for button #3266a8

.BundleCard__NotIncluded {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7em;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin: 15px auto 0 auto;
  width: 80px;
}

.BundleCard__NotIncluded--Image,
.BundleCard__NotIncluded {
  opacity: 0.5;
}

.BundleCard__PricesAndTerms {
  background-color: $off-white;
  width: 100%;
  padding-left: 1.5em;
  box-sizing: border-box;
  display: flex;
}

.BundleCard__Price,
.BundleCard__Discounts {
  display: inline-block;
}

.PricesAndTerms__Agreement {
  font-size: 0.79em;
  width: 100%;
  max-width: 200px;
  opacity: 0.6;
  margin-top: 3px;
  line-height: 1.6;
  margin-bottom: 1px;
  margin-right: 0;
}

.PricesAndTerms__Price {
  font-weight: 900;
  margin-bottom: 3px;
  font-size: 1.9em;
  font-family: "Roboto", sans-serif;
  &::after {
    content: " /mo.";
    font-weight: 400;
    font-size: 0.7em;
    margin-left: 5px;
  }
  margin-top: 18px;
}

.BundleCard__TermsAndCond {
  text-decoration: underline;
  font-size: 0.8em;
  opacity: 0.7;
  margin-top: 10px;
}

.BundleCard__Discounts {
  margin-left: auto;
  margin-right: 1em;
}

.Discount {
  color: rgb(6, 6, 31);
  font-weight: 900;
  margin-bottom: 5px;
  font-size: .95em;
  span {
    font-weight: unset;
    text-decoration: line-through;
    opacity: 0.6;
    font-size: 0.85em;
  }
  border: 1.4px solid $dark-blue;
  padding: 1.9em 1.2em;
  width: 20vw;
}
.BundleCard__TermsAndCond--desktop {
  display: none;
}
.BundleCard__TermsAndCond--mobile {
  margin-top: 1px;
}


@media (min-width: 800px) {
  .BundleCard__TermsAndCond--mobile {
    display: none;
  }

  .BundleCard__TermsAndCond--desktop {
    display: unset;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }

  .BundleCard {
    border: 1px solid #7c9bc2;
    width: 90vw;
    max-width: 470px;
    box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.05),
      -3px 2px 10px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .BundleCard__Header {
    letter-spacing: 1.5px;
    background-color: $off-white;
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
    font-size: 14px;
    font-weight: 900;
  }

  .BundleCard__included {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 29px;
    margin-bottom: 15px;
  }

  .BundleCard__Internet,
  .BundleCard__Tv {
    border-right: 1px solid $off-white;
    width: 100%;
  }

  .BundleCard__Internet,
  .BundleCard__Tv,
  .BundleCard__Voice {
    height: 80px;
  }

  .BundleCard__image {
    margin: 0 auto;
    display: block;
  }

  .Internet__Speed,
  .Tv__Channels,
  .Voice__Option {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 10px;
    font-weight: 700;
  }

  .Internet__Units,
  .Tv__Units,
  .Voice__Units {
    font-size: 0.75em;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  // color for button #3266a8

  .BundleCard__NotIncluded {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin: 15px auto 0 auto;
    width: 80px;
  }

  .BundleCard__NotIncluded--Image,
  .BundleCard__NotIncluded {
    opacity: 0.5;
  }

  .BundleCard__PricesAndTerms {
    background-color: $off-white;
    width: 100%;
    display: unset;
  }

  .BundleCard__Price,
  .BundleCard__Discounts {
    display: inline-block;
  }

  .BundleCard__Price {
    padding-left: 1.5em;
  }

  .PricesAndTerms__Agreement {
    font-size: 0.79em;
    width: 200px;
    opacity: 0.6;
    margin-top: 3px;
    line-height: 1.6;
  }

  .BundleCard__TermsAndCond {
    text-decoration: underline;
    font-size: 0.8em;
    opacity: 0.7;
    margin-top: 10px;
  }

  .Discount {
    color: rgb(6, 6, 31);
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 0.95em;
    span {
      font-weight: unset;
      text-decoration: line-through;
      opacity: 0.6;
      font-size: 0.85em;
    }
    border: unset;
    padding: unset;
    width: unset;
  }

  .BundleCard__Discounts {
    top: -30px;
    position: relative;
  }
}
