.Details {
  padding-left: 0;
}

.Details__button {
  border: none;
  opacity: 0.8;
  font-size: .99em;
  padding-right: 0;
  padding-left: 0;
  margin-right: 2.4em;
  cursor: pointer;
  outline: none;
  background: none;
}

.Active__button {
  border-bottom: 3px solid $dark-blue;
  opacity: 1;
}

.Details__Buttons {
  border-bottom: 1px solid $dark-blue;
  margin-left: 1em;
  background: none;
  margin-right: 1rem;
  display: flex;
}

.c-details-dropdown {
  transform: rotate(90deg);
  margin-left: auto;
  width: 15px;
  height: 35px;
  transition: .2s;
}

@media(min-width: 800px) {
  .c-details-dropdown {
    display: none;
  }
  .Details {
    padding-left: 20px;
    height: unset;
    min-height: 175px;
  }
  
  .Details__button {
    border: none;
    opacity: 0.8;
    font-size: .99em;
    padding-right: 0;
    padding-left: 0;
    margin-right: 2.4em;
    cursor: pointer;
    outline: none;
    background: none;
  }
  
  .Active__button {
    border-bottom: 5px solid $dark-blue;
    opacity: 1;
  }
  
  .Details__Buttons {
    border-bottom: 1px solid $dark-blue;
    margin-left: 1em;
    background: none;
    margin-right: 1rem;
  }
}