.OrderButton {
  background-color: #30527e;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 2px;
  border-radius: 30px;
  padding: .8em 4em;
  margin: 0 auto;
  width: 405px;
  display: block;
  margin-bottom: 40px;
}